.header header {
    background: url("../images/header.png") repeat-x scroll 0 0 / auto 100% transparent;
    border: medium none;
    color: #FFFFFF;
    height: 4rem;
    padding: 0 10px;
}

.header header:after {
    background: url("../images/header-shadow.png") repeat-x scroll 0 0 / auto 100% transparent;
    content: "";
    display: block;
    height: 0.3rem;
    top: 4rem;
    right: 0;
    left: 0;
    position: absolute;
}

.user-nav i[class^="icon-"] {
    cursor: pointer;
}

.user-nav a:hover {
    background: none;
}

.header header > h1 {
    float: left;
    font-size: 30px;
}

.header header > ul.user-nav {
    float: right;
    margin-top: 15px;
}

ul.user-nav {
    
}

ul.user-nav > li {
    display: inline-block;
}

.screen-container {
    padding: 15px;
    padding-bottom: 23px;
}

footer .button, footer ul.nav > li {
    padding: 9px;
    display: inline-block;
}

footer .button {
    position: absolute;
    width: 20px;
    font-size: 18px;
}

footer #button-right {
    right: 0;
    box-shadow: 0px -2px 3px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0px -2px 3px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px -2px 3px rgba(255, 255, 255, 0.2);
}

footer #button-left {
    box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.2);
    left: 0;
}

footer {
    bottom: 0;
    height: 3rem;
    position: fixed;
    width: 100%;
}

[role="toolbar"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);
    bottom: 0;
    height: 38px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;

    text-align: center;
    color: white;
}

[role="toolbar"] ul {
    font-size: 1.6em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

[role="toolbar"] ul > li {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

[role="toolbar"] ul i {
    cursor: pointer;
}

[role="toolbar"] ul .active {
    border-top: 3px solid #C96A00;
    padding-top: 6px;
}

#home-nav {
    width: 60%;
    margin: 0 auto;
}

#home-nav > li {
    margin: 10px;
}
